body {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #1f2023;
    font-family: 'Helvetica Neue', sans-serif;
    color: rgba(230, 230, 230, 1.0);
    overflow: hidden;
    caret-color: rgba(46, 232, 187, 0.81);
}

.chats-wrapper::-webkit-scrollbar {
    display: none;
}

.chats-wrapper {
    width: 250px;
    height: calc(100vh - 45px);
    position: fixed;
    left: 0;
    top: 10px;

    border: 3px solid rgba(46, 232, 187, 0.81);
    border-left: none;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;

    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.chats-bar {
    width: 100%;
    min-height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.chats-bar button {
    background: #1f2023;
    border: none;
    border-radius: 7px;
    transition: 0.15s background ease;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.chats-bar button:hover {
    background: #343434;
}

.chat {
    width: 100%;
    min-height: 40px;
    background: #343434;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 5px;
}

.chat button {
    cursor: pointer;
    background: none;
    border: none;
}

.chat p {
    cursor: pointer;
}